body {
	background: black;
	background-repeat: no-repeat;
	background-position: 0% 25%;
	background-attachment: fixed;
	width:780px;
	color: #717272;
	font-size: 11px;
	font-family: Verdana, sans-serif;
	padding:10px auto 0 auto;
	margin:auto;
}

h3 {
	color:green;
	padding: 0;
	margin: 0 0 5px 0;
	width: 50%;
}

iframe{
	overflow:hidden;
}

.container {
	background: black;
}

.navigation {
	
	word-spacing: 15px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 10px;
	float: left;
	text-align: left;
	padding: 38px 15px 13px 15px;
}

.logo {
	font-family: 'BlackCastle';
	letter-spacing: 1px;
	text-align: right;
	color: white;
	font-size: 50px;
	padding: 15px;
}

.headerImage {
	background: url(images/photo_header.png);
	background-repeat: no-repeat;
	background-position: 100% 0%;
	width: 100%;
	height: 279px;
}

.fullImage {
	margin-left: 0%;
	width: 100%;
}

.socialButton{
	margin-left:45%;
	width:10%;
}

.leftcontent {
	background:black;
	padding:20px;
}

.footer {
	font-size: 11px;
	padding: 0 3px 3px 3px;
	float: right;
}

.bottomnav {
	font-size: 10px;
	text-align: left;
	padding: 0 3px 3px 3px;
}

#gameHolder{
  position:absolute;
  left:50%;
  margin-left:-512px;
}

#gamePusher{
	width:1024px;
	height:576px;
}

A:link {
	COLOR: white; TEXT-DECORATION: none;
}
A:visited {
	COLOR: white; TEXT-DECORATION: none;
}
A:active {
	COLOR: #DD861F; TEXT-DECORATION: none;
}
A:hover {
	COLOR: #DD861F; TEXT-DECORATION: none;
}

A.footerl:link {
	COLOR: white; TEXT-DECORATION: none;
}
A.footerl:visited {
	COLOR: white; TEXT-DECORATION: none;
}
A.footerl:active {
	COLOR: #DD861F; TEXT-DECORATION: none;
}
A.footerl:hover {
	COLOR: #DD861F; TEXT-DECORATION: underline;
}