/*
Author: Kevin R. Justice
File: styleMiser.css
Date Created: 092116

Style Sheet
*/

html {
	padding: 0px;
	margin: 0px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:crosshair;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: black;
}

.selectedCharacterMenuBackground{
	font-size:12px;
	text-align: center;
	background-color: yellow;
	width: 150px;
	height:60px;
}

.unselectedCharacterMenuBackground{
	font-size:12px;
	text-align: center;
	background-color: black;
	width: 150px;
	height:60px;
}

.selectedAudioBox{
	padding-top:6px;
	font-size:8px;
	font-weight: bold;
	color:black;
	text-align:center;
	background-color:yellow;
	width:96.9px;
	height:19px;
	top:5px;
}

.unselectedAudioBox{
	padding-top:6px;
	font-size:8px;
	font-weight: bold;
	color:white;
	text-align:center;
	background-color:black;
	width:96.9px;
	height:19px;
	top:5px;
}

.unselectedAudioBox:hover{
	background-color:yellow;
	color:black;
}

.unselectableAudioBox{
	padding-top:6px;
	font-size:8px;
	font-weight: bold;
	color:white;
	text-align:center;
	background-color:black;
	width:96.9px;
	height:19px;
	top:5px;
}

#incompatibleScreenBackground{
	position:absolute;
	top:0px;
	left:0px;
	width:1024px;
	height:576px;
	background-color:black;
}

#incompatibleScreenHeader{
	position:absolute;
	left:0px;
	top:125px;
	width:1024px;
	text-align: center;
	color:white;
	font-family:verdana;
	font-size:36px;
}

#incompatibleScreenSubHeader{
	position:absolute;
	left:0px;
	top:50px;
	width:1024px;
	text-align: center;
	color:white;
	font-family:'BlackCastle';
	font-size:72px;
}

#incompatibleScreenInfo{
	position:absolute;
	left:0px;
	top:375px;
	width:1024px;
	text-align: center;
	color:white;
	font-family:verdana;
	font-size:24px;
}

#aboutScreenBackground{
	position:absolute;
	top:0px;
	left:0px;
	width:1024px;
	height:576px;
	background-color:black;
}

#aboutScreenHeader{
	position:absolute;
	left:222.5px;
	top:100px;
	color:red;
	font-family:'BlackCastle';
	font-size:72px;
}

#aboutScreenAbout{
	position:absolute;
	top:230px;
	left:62px;
	width:900px;
	text-align: center;
	color:white;
	font-family:verdana;
	font-size:24px;
	font-weight:bold;	
}

#aboutScreenContinueButton{
	position: absolute;
	font-family:'verdana';
	font-weight: bold;
	color:black;
	text-align: center;
	font-size:18px;
	top:400px;
	left:442px;
	background-color: white;
	width: 140px;
	height:22px;
}

#aboutScreenContinueButton:hover{
	background-color:yellow;
	color:black;
}

#loadingScreenBackground{
	position:absolute;
	top:0px;
	left:0px;
	width:1024px;
	height:576px;
	background-image: url(images/menuImages/loadingScreen.png);
	background-color:black;
}

#loadingScreenHeader{
	position:absolute;
	background-color: yellow;
	color:black;
	width:431.83px;
	height:55px;
	top:438px;
	left:285px;
	font-family:'BlackCastle';
	font-size:36px;
}

#loadingScreenSubHeader{
	position:absolute;
	top:36px;
	left:131px;
	color:black;
	font-family:verdana;
	font-size:12px;
	font-weight:bold;
}

#loadingBarContainer{
	position: absolute;
	background-color: black;
	left:112px;
	top:500px;
	width:800px;
	height:40px;
}

#loadingBarBorder{
	position:absolute;
	top:3px;
	left:3px;
	width:790px;
	height:30px;
	border:2px solid yellow;
	border-radius: 5px;
}

#loadingBar{
	position: absolute;
	background-color:yellow;
	height:20px;
	left:5px;
	top:5px;
}

#coverBackground{
	z-index:1;
	position: absolute;
	top:0px;
	left:0px;
	background-color: black;
	width: 1024px;
	height:576px;	
}

#coverText{
	position:absolute;
	top:231px;
	left:100px;
	font-family:'BlackCastle';
	color:white;
	font-size:100px;
}

#characterMenuBackground{
	position: absolute;
	top:0px;
	left:0px;
	background-color: blue;
	width: 1024px;
	height:576px;	
}

#leftCharacterMenuWrapper{
	position: absolute;
	top:88px;
	left:0px;
	background-image: url('images/menuImages/characterLeft.jpg');
	background-color: white;
	width: 150px;
	height:400px;	
}

#rightCharacterMenuWrapper{
	position: absolute;
	top:88px;
	left:874px;
	background-image: url('images/menuImages/characterRight.jpg');
	background-color: white;
	width: 150px;
	height:400px;	
}

#leftCharacterMenuHeader{
	position: absolute;
	font-family:verdana;
	color:white;
	font-size:12px;
	text-align: center;
	top:0px;
	left:0px;
	background-color: black;
	width: 150px;
	height:15px;
}

#matthewCharacterMenuBackground{
	position: absolute;
	top:32.875px;
	left:0px;
}

#matthewCharacterMenuHeadshot{
	position: absolute;
	font-size:12px;
	text-align: center;
	top:5px;
	left:5px;
	background-image: url('images/menuImages/matthew.png');
	background-color: black;
	width: 50px;
	height:50px;
}

#matthewCharacterMenuName{
	position: absolute;
	font-family:verdana;
	color:grey;
	font-size:12px;
	text-align: center;
	top:24px;
	left:60px;
	width:85px;
	height:12px;
}

#matthewCharacterMenuBackground:hover{
	background-color: yellow;
}

#stevieCharacterMenuBackground{
	position: absolute;
	top:109.75px;
	left:0px;
}

#stevieCharacterMenuHeadshot{
	position: absolute;
	font-size:12px;
	text-align: center;
	top:5px;
	left:5px;
	background-image: url('images/menuImages/stevie.png');
	background-color: black;
	width: 50px;
	height:50px;
}

#stevieCharacterMenuName{
	position: absolute;
	font-family:verdana;
	color:grey;
	font-size:12px;
	text-align: center;
	top:24px;
	left:60px;
	width:85px;
	height:12px;
}

#stevieCharacterMenuBackground:hover{
	background-color: yellow;
}

#stevieCharacterMenuBackground:active{
	background-color:yellow;
}

#quinnCharacterMenuBackground{
	position: absolute;
	top:186.625px;
	left:0px;
}

#quinnCharacterMenuHeadshot{
	position: absolute;
	font-size:12px;
	text-align: center;
	top:5px;
	left:5px;
	background-image: url('images/menuImages/quinn.png');
	background-color: black;
	width: 50px;
	height:50px;
}

#quinnCharacterMenuName{
	position: absolute;
	font-family:verdana;
	color:grey;
	font-size:12px;
	text-align: center;
	top:24px;
	left:60px;
	width:85px;
	height:12px;
}

#quinnCharacterMenuBackground:hover{
	background-color: yellow;
}

#ryanCharacterMenuBackground{
	position: absolute;
	top:263.5px;
	left:0px;
}

#ryanCharacterMenuHeadshot{
	position: absolute;
	font-size:12px;
	text-align: center;
	top:5px;
	left:5px;
	background-image: url('images/menuImages/ryan.png');
	background-color: black;
	width: 50px;
	height:50px;
}

#ryanCharacterMenuName{
	position: absolute;
	font-family:verdana;
	color:grey;
	font-size:12px;
	text-align: center;
	top:24px;
	left:60px;
	width:85px;
	height:12px;
}

#ryanCharacterMenuBackground:hover{
	background-color: yellow;
}

#unknownCharacterMenuBackground{
	position: absolute;
	top:340.3475px;
	left:0px;
}

#unknownCharacterMenuHeadshot{
	position: absolute;
	font-size:12px;
	text-align: center;
	top:5px;
	left:5px;
	background-image: url('images/menuImages/unknown.png');
	background-color: black;
	width: 50px;
	height:50px;
}

#unknownCharacterMenuName{
	position: absolute;
	font-family:verdana;
	color:grey;
	font-size:12px;
	text-align: center;
	top:24px;
	left:60px;
	width:85px;
	height:12px;
}

#miserCharacterMenuBackground{
	position: absolute;
	top:340.3475px;
	left:0px;
}

#miserCharacterMenuHeadshot{
	position: absolute;
	font-size:12px;
	text-align: center;
	top:5px;
	left:5px;
	background-image: url('images/menuImages/miser.png');
	background-color: black;
	width: 50px;
	height:50px;
}

#miserCharacterMenuName{
	position: absolute;
	font-family:verdana;
	color:grey;
	font-size:12px;
	text-align: center;
	top:24px;
	left:60px;
	width:85px;
	height:12px;
}

#miserCharacterMenuBackground:hover{
	background-color: yellow;
}

#rightCharacterMenuHeader{
	position: absolute;
	font-family:'BlackCastle';
	color:white;
	font-size:24px;
	text-align: center;
	top:0px;
	left:0px;
	background-color: black;
	width: 150px;
	height:24px;
}

#characterMenuBio{
	position: absolute;
	padding:7px;
	text-align:center;
	font-family:'verdana';
	color:grey;
	font-size:12px;
	top:36px;
	left:5px;
	background-color: black;
	width: 126px;
}

#characterMenuLaunchButton{
	position: absolute;
	font-family:'verdana';
	font-weight: bold;
	color:white;
	text-align: center;
	font-size:36px;
	top:347px;
	left:5px;
	background-color: black;
	width: 140px;
	height:48px;
}

#characterMenuLaunchButton:hover{
	background-color:yellow;
	color:black;
}

#characterMenuSelectionDirections{
	position: absolute;
	background-color: black;
	font-family:verdana;
	color:white;
	font-size:16px;
	text-align: center;
	top:552px;
	left:0px;
	height:24px;
}

#audioPlayerWrapper{
	position:absolute;
	top:541px;
	left:0px;
	width:1024px;
	height:35px;
	background-image: url(images/menuImages/audioPlayerBG.jpg);
	background-color:white;
}

#audioBox0{
	position:absolute;
	left:5px;
	font-family:verdana;
}

#audioBox1{
	position:absolute;
	left:106.9px;
	font-family:verdana;
}

#audioBox2{
	position:absolute;
	left:208.8px;
	font-family:verdana;
}

#audioBox3{
	position:absolute;
	left:310.7px;
	font-family:verdana;
}

#audioBox4{
	position:absolute;
	left:412.6px;
	font-family:verdana;
}

#audioBox5{
	position:absolute;
	left:514.5px;
	font-family:verdana;
}

#audioBox6{
	position:absolute;
	left:616.4px;
	font-family:verdana;
	padding-top:2px;
	height:23px;
}

#audioBox7{
	position:absolute;
	left:718.3px;
	font-family:verdana;
}

#audioBox8{
	position:absolute;
	left:820.2px;
	font-family:verdana;
}

#audioBox9{
	position:absolute;
	left:922.1px;
	font-family:verdana;
}

#tutorialMenuBackground{
	position:absolute;
	top:0px;
	left:0px;
	width:1024px;
	height:576px; 
	background-color:black;
	opacity: .5;
}

#tutorialMenuWrapper{
	position:absolute;
	top:72px;
	left:128px;
	width:768px;
	height:432px;
	background-image: url(images/menuImages/tutorialWrapper.jpg);
	background-color:white;
}

#tutorialMenuDialogue{
	position:absolute;
	padding:30px 20px 70px 20px; 
	top:54px;
	left:96px;
	width:536px;
	height:224px;
	text-align: center;
	font-family:verdana;
	font-size:9px;
	color:grey;
	background-color:black;
}

#tutorialMenuCloseButton{
	position:absolute;
	top:280px;
	left:268px;
	width:40px;
	height:18px;
	background-color:white;
	font-family:verdana;
	font-size:14px;
	color:black;
}

#tutorialMenuCloseButton:hover{
	background-color:yellow;
	color:black;
}

#trackUnlockedMenu{
	position:absolute;
	top:0px;
	left:0px;
	width: 200px;
	background-color:black;
	text-align: center;
	color:white;
	font-family:verdana;
	font-size:20px;
}

#switchCharacterMenu{
	position:absolute;
	top:0px;
	left:924px;
	width: 100px;
	background-color:black;
	font-weight:bold;
	text-align: center;
	color:white;
	font-family:verdana;
	font-size:10px;
	height:14px;
}
#switchCharacterMenu:hover{
	background-color:yellow;
	color:black;
}

#muteMenu{
	position:absolute;
	top:16px;
	left:924px;
	width: 100px;
	background-color:black;
	font-weight:bold;
	text-align: center;
	color:red;
	font-family:verdana;
	font-size:10px;
	height:14px;
}

#muteMenu:hover{
	background-color:red;
	color:black;
}

#interactionMenu{
	position:absolute;
	top:511px;
	left:0px;
	width: 250px;
	height:28px;
	background-color:black;
	text-align: center;
	color:white;
	font-family:verdana;
	font-size:20px;
}

#completedMenuBackground{
	position:absolute;
	top:0px;
	left:0px;
	width:1024px;
	height:576px; 
	background-color:black;
	opacity: .5;
}

#completedMenuWrapper{
	position:absolute;
	top:72px;
	left:128px;
	width:768px;
	height:432px;
	background-image: url(images/menuImages/tutorialWrapper.jpg);
	background-color:white;
}

#completedMenuDialogue{
	position:absolute;
	padding:30px 20px 70px 20px; 
	top:54px;
	left:96px;
	width:536px;
	height:224px;
	text-align: center;
	font-family:verdana;
	font-size:24px;
	color:grey;
	background-color:black;
}

#completedMenuCloseButton{
	position:absolute;
	top:280px;
	left:268px;
	width:40px;
	height:18px;
	background-color:white;
	font-family:verdana;
	font-size:14px;
	color:black;
}

#completedMenuCloseButton:hover{
	background-color:yellow;
	color:black;
}

#setupBackground{
	z-index:1;
	position: absolute;
	top:0px;
	left:0px;
	background-image:url(images/menuImages/splash.jpg);
	width: 1024px;
	height:576px;	
}